.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #003366;
  width: 265px;
  height: 100vh;
  color: whitesmoke;
  padding: 15px;
  z-index: 1001;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
  width: 100vh;
  height: 100vh;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.overlay.open {
  transform: translateX(0);
}

.sidebar h2 {
  font-size: 2em;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #01458879;
  text-decoration: none;
  text-align: center;
  padding: 8px 0; 
}

.nav-links {
  border-radius: 10px;
  padding: 0 10px;
  border: solid 1.5px rgba(6, 37, 83, 0.651);
}

.nav-links li {
  padding: 8px 0px;
  list-style: none;
  margin: 15px 0;
  border-radius: 10px;
}

.nav-links a {
  text-decoration: none;
  padding: 10px 10px ;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
}

.active {
    background-color: rgba(233, 233, 233, 0.066);
}

.nav-links a:hover {
  background-color: #004284;
}
